<div id="<%= dom_id order %>">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= order.condition %>
  </p>

  <p>
    <strong>About:</strong>
    <%= order.about %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Accept offers:</strong>
    <%= order.accept_offers %>
  </p>

  <p>
    <strong>Floor price:</strong>
    <%= order.floor_price %>
  </p>

  <p>
    <strong>Product size:</strong>
    <%= order.product_size %>
  </p>

  <p>
    <strong>Prouct weight:</strong>
    <%= order.prouct_weight %>
  </p>

  <% order.images.each do |image| %> 
    <%= image_tag(image, style: "object-fit: conatain; width: 200px; height: 200px;") %>
  <% end %>

</div>
